In [2]:
if 3 > 2:
    a = 3
else:
    a = 5

In [3]:
a

3

In [4]:
if 3 > 4:
    b = 2
else:
    b = 4

In [5]:
b

4

In [6]:
a == 4

False

In [7]:
a == 3

True

In [9]:
if a > b:
    print('haha')
    print('alif mana')
else:
    print('hihi')
    print('alif absen')
print('anaconda')

hihi
alif absen
anaconda

In [10]:
c = 6
d = 9
if c == 6:
    print('c itu 6')
    if d == 10:
        print('d itu 10')
    else:
        print('d bukan 10')
    print('c sudah banyak')
else:
    print('c bukan 6')
    if d == 9:
        print('d itu 9')

c itu 6
d bukan 10
c sudah banyak

In [11]:
if 'ja' in ['ja','kar','ta']:
    print('ondel ondel')
    
    if c > d:
        print('cdcd')
        
    print('ade anaknye')
    
    if c < d:
        print('dcdc')
        
    print('iseng aja')

print('abang jampang')

ondel ondel
ade anaknye
dcdc
iseng aja
abang jampang

In [13]:
kota = 'jakarta'
if kota == 'jakarta':
    print('saya tinggal di jakarta')

saya tinggal di jakarta

In [31]:
penghasilan = 30
if penghasilan > 50:
    print('bayar pajak 20%')
elif penghasilan >= 30:
    print('bayar pajak 15%')
else:
    print('bayar pajak 10%')

bayar pajak 15%

In [43]:
kota = 'jakarta'
penghasilan = 30
if kota == 'jakarta' and penghasilan > 50:
    print('bayar pajak 20%')
elif kota =='jakarta' and penghasilan >= 30:
    print('bayar pajak 15%')
elif kota != 'jakarta' and penghasilan > 50:
    print('bayar pajak 18%')
elif kota != 'jakarta' and penghasilan >= 30:
    print('bayar pajak 10%')
else:
    print('bayar pajak 5%')

bayar pajak 15%

In [46]:
dir('jakarta')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [64]:
kota = "jakarta"
x = kota.ljust(20)
print(kota)

jakarta

In [67]:
n = 5
while n > 1:
    n -= 1
    print(n)

4
3
2
1

In [71]:
n = 101
while n > 0:
    n -= 1
    if n % 2:
        print(n)

99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63
61
59
57
55
53
51
49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1

In [90]:
n = 0
while n < 100:
    n += 1
    if n > 40 and n < 60:
        if n % 2 == 0:
            print(n)
    elif n % 2 != 0:
        print (n)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
42
44
46
48
50
52
54
56
58
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [92]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [95]:
for n in range(101):
    if n > 40 and n < 60:
        if n % 2 == 0:
            print(n)
    elif n % 2 != 0:
        print(n)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
42
44
46
48
50
52
54
56
58
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99